CompileFlags:
  Add: [-Wall, -Wno-c++98-compat, -std=c++17, --extra-warnings, -Wno-switch-enum, -Wswitch, -Wno-date-time, -Wno-exit-time-destructors]
If:
  PathMatch: [.*\**.hpp, .*\**.cpp]
  PathExclude: external/.*