Checks: ['-*',
  'clang-analyzer-*',
  '-clang-analyzer-nullability',
  'readability-*',
  '-readability-uppercase-literal-suffix',
  '-readability-function-cognitive-complexity',
  'modernize-*',
  '-modernize-avoid-c-arrays',
  '-modernize-use-using',
  '-modernize-use-trailing-return-type',
  'performance-*',
  'bugprone-*',
  '-bugprone-easily-swappable-parameters']
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: 'CamelCase'
  - key: readability-identifier-naming.MethodCase
    value: 'CamelCase'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true