Checks: ['-*',
  '-clang-analyzer-*',
  '-clang-analyzer-nullability.*',
  'readability-*',
  '-readability-uppercase-literal-suffix',
  '-readability-function-cognitive-complexity',
  'modernize-*',
  '-modernize-avoid-c-arrays',
  '-modernize-use-using',
  '-modernize-use-trailing-return-type',
  'performance-*',
  'bugprone-*',
  '-bugprone-easily-swappable-parameters']
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
CheckOptions:
  # All classes, structs
  readability-identifier-naming.ClassCase: 'CamelCase'
  # All functions
  readability-identifier-naming.FunctionCase: 'camelBack'
  # Class members
  readability-identifier-naming.MemberCase: 'lower_case'
  # Local variables
  readability-identifier-naming.VariableCase: 'lower_case'
  # Function parameters
  readability-identifier-naming.ParameterCase: 'lower_case'
  # Template parameters
  readability-identifier-naming.TemplateParameterCase: 'lower_case'
  # Only typename template parameters
  readability-identifier-naming.TypeTemplateParameterSuffix: '_t'

  readability-redundant-inline-specifier.StrictMode: true
  
  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  readability-magic-numbers.IgnoredIntegerValues: "1;2;3;4;5;6;7;8;9"