Checks: ['-*',
  '-clang-analyzer-nullability',
  'readability-*',
  '-readability-uppercase-literal-suffix',
  '-readability-function-cognitive-complexity',
  'modernize-use-*',
  '-modernize-use-using',
  '-modernize-use-trailing-return-type',
  'performance-*',
  'bugprone-*']
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.FunctionCase
    value: 'CamelCase'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodCase
    value: 'CamelCase'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true