CompileFlags:
  Add: 
    - -stdlib=libc++
    # Enable warnings
    - -Wall
    - -Wextra
    - -Wpedantic
    # Disable compatibility warnings
    - -Wno-c++20-compat
    - -Wno-c++98-compat
    - -Wno-c++98-compat-pedantic
    # Switches should have a default case
    # even when all enum values are covered
    - -Wno-covered-switch-default
    - -Wno-switch-enum
    # Disable static-value-related warnings
    - -Wno-global-constructors
    - -Wno-exit-time-destructors
    # Clang emits odd warnings about doxygen even when correct
    - -Wno-documentation
    # Emits odd warnings about argv
    - -Wno-unsafe-buffer-usage
    # These casts are necessary for vulkan
    - -Wno-cast-function-type-strict
If:
  PathMatch: [.*\**.hpp, .*\**.cpp]
  PathExclude: external/.*
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    FastCheckFilter: None
  Includes:
    IgnoreHeader:
      # glm (matches any glm/something.hpp)
      - glm\/.+\.hpp
      # Vulkan (matches any vulkan/something.h and vulkan/something.hpp)
      - vulkan\/.+\.h(pp)?
      # Lua related (include Lua.hpp instead in C++)
      - lauxlib\.h
      - lua\.h
      # Windows specific:
      - Windows\.h
      - minwindef\.h
      - consoleapi\.h
      - processenv\.h
      - winnt\.h
      - winbase\.h
      # Internal MSVC:
      - __msvc_.+
---
Completion:
  AllScopes: No
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No