---
#Language: Cpp
# Basics
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100
# Compact arguments
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
# Compact parameters
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
# Alignment
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: true
PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
# Breaks
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  SplitEmptyFunction: false
  AfterClass: true
  AfterFunction: true
  AfterCaseLabel: true
  AfterControlStatement: Always
BreakBeforeBraces: Custom
AlwaysBreakAfterReturnType: None
PenaltyBreakAssignment: 30
PenaltyBreakComment: 2000
PenaltyExcessCharacter: 50
PenaltyReturnTypeOnItsOwnLine: 300
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 0
# Indent
IndentCaseLabels: true
NamespaceIndentation: All
IndentPPDirectives: AfterHash
AccessModifierOffset: -4
# Compact code
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
# Fixes
FixNamespaceComments: true
BitFieldColonSpacing: Both
InsertNewlineAtEOF: true
# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"[a-zA-Z/]*fwd.hpp"'
    Priority:        1
    CaseSensitive:   false
  - Regex:           '^"(Scripting)/'
    Priority:        5
    CaseSensitive:   true
  - Regex:           '^"(Rendering)/'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '^"(Assets)/'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '^"(Factories)/'
    Priority:        8
    CaseSensitive:   true
  - Regex:           '^"(Logging)/'
    Priority:        10
    CaseSensitive:   true
  - Regex:           '^"(glm)/'
    Priority:        50
    CaseSensitive:   false
  - Regex:           '^".*'
    Priority:        12
    CaseSensitive:   false
  - Regex:           '^<'
    Priority:        200
    CaseSensitive:   false
...
