---
#Language: Cpp
PointerAlignment: Left
#BreakBeforeBraces: Allman
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Always
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  SplitEmptyFunction: true
  AfterClass: true
  AfterFunction: true
  AfterCaseLabel: true
  AfterControlStatement: Always
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
#ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: true
BitFieldColonSpacing: Both
PenaltyBreakAssignment: 200
PenaltyBreakComment: 2000000
SortIncludes: CaseSensitive
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(Scripting)/'
    Priority:        5
    CaseSensitive:   true
  - Regex:           '^"(Rendering)/'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '^"(Logging)/'
    Priority:        10
    CaseSensitive:   true
  - Regex:           '^"(Factories)/'
    Priority:        8
    CaseSensitive:   true
  - Regex:           '^"(Assets)/'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '^".*'
    Priority:        12
    CaseSensitive:   true
  - Regex:           '^<.*'
    Priority:        15
    CaseSensitive:   true
...
