CompileFlags:
  Add: [-stdlib=libc++, -Wall, -Wextra, -Wno-covered-switch-default, -Wpedantic, -Wno-c++98-compat, -Wno-c++98-compat-pedantic, -Wno-switch-enum, -Wswitch, -Wno-date-time, -Wno-global-constructors, -Wno-exit-time-destructors, -Wno-unsafe-buffer-usage, -Wno-cast-function-type-strict]
If:
  PathMatch: [.*\**.hpp, .*\**.cpp]
  PathExclude: external/.*
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    FastCheckFilter: None
  Includes:
    IgnoreHeader: [glm.hpp, lua.h]
---
Completion:
  AllScopes: No
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No